@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#hero {

    background: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(/assets/hero-bg.png);
    height: 616px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content {
    width: 685px;
    margin: 0 auto;
}

#hero .subheading {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    gap: 18px;
}

#hero .heading {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
    
}

#hero .description {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
    
}
#hero .btn-container{
    text-align:center;
}
.btn {
    padding: 14px 18px 14px 18px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;

    background: rgb(82, 195, 3);
    cursor: pointer;
}

/* new section  */

#card-box{
    width: 884px;
    margin: 50% auto;
    margin: 100px;
}
.card{
    width: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card .img-box{
    width:284px ;
}
.card .img-box img{
    width:100%; ;
}

.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;


}

#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0%;
text-align: center;
}
.card .shop{
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}