@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.btn-container{
    text-align: center;
}
.btn {
    padding: 14px 22px 14px 22px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
}

#hero {

    background-image: url(../Food-resturant-project/assets/hero-bg.png);
    background: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../Food-resturant-project/assets/hero-bg.png);
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 680px;
    /* margin: 0 auto; */
}

#hero .hero-content .subtitle {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
   margin-bottom: 12px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 43px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}

#hero .hero-content .description {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 28px;
}